main {
    background-color: darkseagreen;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
}

header {
    padding-top: 10px;
    text-align: center;
    font-size: 1em;;
}

h1 {
    font-size: 2.5em;
}

#img-div {
    width: 640px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
}

#image {
    height: 400px;
    min-width: 600px;
    margin: 30px auto 10px auto;
    opacity: 0.7;
    border-radius: 3px;
}

#img-caption {
   text-align: center;
   margin: 10px auto 10px auto;
   color: olive;
}

#tribute-info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#info-Head{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 2em;
}

footer {
    text-align: center;
    font-size: 1em;
    padding-bottom: 10px;
}